<p>product-detail works!123</p>

<div class="row">
    <carousel class="d-flex justify-content-center">
      <slide *ngFor="let data of productPicture">
        <img [src]="data" style="display: block; width: 100%;">
        <!-- <div class="carousel-caption d-none d-md-block">
          <h3 style="color:black">{{product.title}}</h3>
          <p style="color:black">{{product.description}}</p>
        </div> -->
      </slide>
    </carousel>
  </div>
  <div class="row" style="margin-left: 400px; margin-top: 100px; margin-bottom: 100px; margin-right: 200px;">
    <p style="color:black">title :</p>
    <h5 style="color:black">{{product.title}}</h5>
    <p style="color:black">description :</p>
    <h5 style="color:black">{{product.description}}</h5>
    <p style="color:black">price :</p>
    <h5 style="color:black">{{product.price}}</h5>
    <p style="color:black">discountPercentage :</p>
    <h5 style="color:black">{{product.discountPercentage}}</h5>
    <p style="color:black">ratingrating :</p>
    <h5 style="color:black">{{product.rating}}</h5>
    <p style="color:black">stock :</p>
    <h5 style="color:black">{{product.stock}}</h5>
    <p style="color:black">brand :</p>
    <h5 style="color:black">{{product.brand}}</h5>
    <p style="color:black">category :</p>
    <h5 style="color:black">{{product.category}}</h5>
  </div>


  